*{
    margin: 0;

}

/* Stile dell'header e Logo */
header{
    height: 150px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-repeat:repeat-x;
    background-size: 50%;
    padding-left: 1%;
}

#logo{
   margin-top: 2%;
}